<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="recipes" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- 日志输出级别 -->
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
